/* common shared style */
body{
    font-family: 'Open Sans', sans-serif;
}
/* head related style */

.shop-banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    align-items: center;
    justify-content: space-between;
}
.banner .heading-img{
    width: 600px;
height: 700px;
}

